.categories-all {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 48px;
}

.collections-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 48px; 
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    color: rgb(3, 115, 98);
    position: sticky;
    top: 0px; 
    background-color: white;
}

.collections-container {
    margin-bottom: 30px;
}

.collections-container ul {
    list-style: none;
}

.collections-list {
    display: flex; 
    align-items: center;
    height: 54px; 
    font-size: 34px;
}

.list-everything {
    color: black; 
}
.list-everything:hover {
    color:rgb(3, 115, 98);
}

.sections-header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 48px; 
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    color: rgb(3, 115, 98);
    position: sticky;
    top: 0px; 
    background-color: white;
}
.sections-container {
    margin-bottom: 30px;
}

.categories-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 48px; 
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    color: rgb(3, 115, 98);
    position: sticky;
    top: 0px; 
    background-color: white;
}

.categories-container {
    margin-bottom: 30px;
}
.exit-button {
    color: rgb(3, 115, 98);
}

//! category show page

.cat-info-container {
    margin-top: 60px; 
    margin-bottom: 36px; 
    padding-left: 60px;
    padding-right: 60px;
}

.cat-info-name {
    font-size: 24px;
    font-family: "Cooper Light", Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: rgb(40, 40, 40);
}

.cat-info-info {
    font-family: "Cooper Light", Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-top: 12px;
    font-weight: 200;
    color: rgb(101, 105, 105);
}

