.header { 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 10px; 
    border-bottom: 1px solid lightgray;
    height: 46px; 

    .logo {
        font-family: 'Modak';
        display: flex; 
        text-decoration: none;
        color: #028858;
        font-size: 27px;
        font-weight: lighter; 
        margin-left: 25vw; 
        margin-right: 25vw;

    }
    a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        color: black;
    }

    a:hover {
        cursor: pointer;
        color: #028858;
    }
}

.login-nav-link {
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    font-size: 14px;
}

header img {
    border-radius: 30px;
    position: absolute;
}

.icon {
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    margin-left: 20px;
    font-size: 12px; 
}

.logged-in-menu {
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    margin-left: 20px; 
    margin-right: 10px;
    font-size: 14px; 
}

.logged-in-menu a:hover {
    cursor: pointer;
    color: #028858;
    text-decoration: underline;
}

.logged-in-menu {
    .dropdown-nav {
        display: none; 
    }
}

.logged-in-menu:hover {
    cursor: pointer;

    .dropdown-nav {
        position: absolute;
        top: 53px; 
        background: white;
        display: grid; 
        grid-template-columns: 50% 50%;
        grid-template-rows: 85% 15%;
        height: 340px; 
        width: 480px;  
        padding: 45px; 
        border: 1px solid black; 
    }
    
    .dropdown-nav li {
        list-style-type: none;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    
    .dropdown-nav .account-list {
        grid-column-start: 1;
        grid-column-end: 2;
        border-bottom: 1px solid lightgray;
    }
    
    .dropdown-nav .created-projects {
        grid-column-start: 2;
        grid-column-end: 2;
        border-bottom: 1px solid lightgray;
        
        li {
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }

    // .dropdown-nav .created-projects-links {
    //     padding-top: 4px;
    //     padding-bottom: 4px;
    // }
    
    .dropdown-nav .logout-footer {
        grid-row-start: 2;
    }
    
    .logout-footer {
        display: grid; 
        align-items: flex-end;
    }
    
    .dropdown-nav h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 13px;
        padding-bottom: 35px;
    }
    
    .account-nav {
        padding-top: 40px;
        padding-bottom: 35px;
    }
    
    .dropdown-nav li:hover {
        cursor: pointer;
        color: #028858;
        text-decoration: underline;
    }
}



