@font-face {
    font-family: Baruta; 
    src: url(rns-b.ttf)
}

.header { 
    display: flexbox;
    // justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10px; 
    border-bottom: 1px solid lightgray;
}

.logo {
    display: flex; 
    justify-content: center;
    flex-basis: auto;
    text-decoration: none;
    color: #2bd11c;
    font-family: Baruta;
    font-size: 25px;
    font-weight: bold; 
    margin: 0; 
}

.login-nav-link {
    display: flex; 
    // float: right;
    justify-content: flex-end;
    align-items: center;
    // padding-left: 43%; 
    margin-right: 10px;
    font-size: 14px; 
    
}

header img {
    border-radius: 20px;
}

.logged-in-greeting {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    margin-left: 40%; 
    margin-right: 10px;
    font-size: 14px; 
}

.logged-in-greeting img:hover {
    cursor: pointer;
}

.logged-in-greeting a:hover {
    cursor: pointer;
}

