@font-face {
    font-family: Baruta; 
    src: url(rns-b.ttf)
}

.header { 
    display: flex;
    // background-color: red;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding: 10px; 
    border-bottom: 1px solid lightgray;
}

.logo {
    display: flex; 
    justify-content: center;
    flex-basis: auto;
    text-decoration: none;
    color: #2bd11c;
    font-family: Baruta;
    // background-color: green;
    font-size: 25px;
    font-weight: bold; 
    margin: 0 auto;

}

.login-nav-link {
    // display: flex; 
    justify-content: space-between;
    align-items: center;
}

