.index-container {
    display: flex; 
    padding-left: 60px;
    padding-right: 60px;
}

.featured-project {
    display: block; 
    flex-basis: 55%;
    padding-right: 30px; 
    padding-top: 30px; 
    margin-top: 24px; 
    margin-bottom: 24px; 
    border-right: 1px solid rgb(232, 232, 232);
}

.featured-pic {
    width: 100%; 
    height: auto; 
}

.featured-info {
    list-style-type: none;
}

.featured-header {
    font-size: 13px;
    text-transform: uppercase;
    color: gray; 
    margin-bottom: 18px;
    font-weight: 500;
}

.featured-progress-bar {
    width: 100%; 
    height: 12px;
    margin-top: -3px;
    background-color:rgb(3, 115, 98);
    // background-color: rgb(232, 232, 232);

}
.featured-progress-bar-container {
    width: 100%; 
    height: 12px;
    margin-bottom: 18px;
    background-color: lightgray;
}

.featured-title {
    
    font-size: 24px;
    font-weight: 400;
    margin-top: 18px; 
    margin-bottom: 12px;
}
.featured-title-text {
    color: rgb(40, 40, 40);
}

.featured-title-text:hover {
    text-decoration: underline;
    color:rgb(3, 115, 98)
}

.featured-camp {
    font-size: 18px;
    font-weight: 400;
    color: rgb(40, 40, 40);
    padding-bottom: 24px;
}
.featured-camp-text {
    color: rgb(40, 40, 40);
}

.featured-author {
    font-size: 12px;
    color: rgb(101, 105, 105);
}

.featured-author-text {
    color: rgb(40, 40, 40);
}

.recommended-projects {
    display: block; 
    flex-basis: 45%;
    padding-left: 30px;
    padding-top: 30px; 
    margin-top: 24px;
}

.recommended-block {
    display: flex; 
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.recommended-pic {
    display: block; 
    flex-basis: 40%;
    height: 90px;
    padding-right: 24px;
    width: 150px; 
}

.recommended-header {
    font-size: 13px;
    text-transform: uppercase;
    color: gray; 
    margin-bottom: 6px;
    font-weight: 500;
}

.recommended-list {
    display: flex; 
    list-style-type: none;
    align-items: inherit;
    flex-basis: 60%;
    flex-direction: column;
}

.recommended-title {
    font-size: 14px;
    color: rgb(40, 40, 40);
    text-overflow: ellipsis;
}

.recommended-title:hover {
    text-decoration: underline;
    color:rgb(3, 115, 98)
}

.rec-percent-funded {
    color: rgb(3, 115, 98); 
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 5px;
    padding-top: 5px;
}

.rec-author-outer {
    font-size: 12px;
    font-weight: 400;
    color: rgb(101, 105, 105);
}

.recommended-author {
    font-size: 12px;
    font-weight: 400;
    color: rgb(101, 105, 105);

}

.recommended-author:hover {
    text-decoration: underline;
}

//category bar starts
.category-bar {
    display: flex; 
    padding-left: 60px;
    padding-right: 60px;
    height: 60px; 
    border-bottom: 1px solid lightgray;
    justify-content: center;
}

@media screen and (max-width: 890px) {
    .index-container {
        display: block; 
    }

    .featured-project {
        border-right: none;
        border-bottom: 1px solid lightgray;
        padding-bottom: 60px;
    }
}

.category-bar ul {
    display: flex; 
    align-items: center;
    overflow-x: auto;
}

.category-bar li {
    display: flex; 
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
}

.category-bar li:hover {
    text-decoration: underline;

    cursor: pointer;
    color: rgb(3, 115, 98);
}

.pageNum-list {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
}

.pageNum {
    color:rgb(3, 115, 98); 
    padding: 10px; 
    font-weight: normal;
}

.pageNum:hover {
    cursor: pointer;
    font-weight: bold;
}
.pageArrow {
    margin-top: 12px; 
}

.subscribe-container {
    border-top: 1px solid lightgray;
    // border-bottom: 1px solid lightgray;
    padding: 48px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

.subscribe-container h2 {
    font-size: 24px;
    margin: auto;
    // display: flex;
    // justify-content: center;
    // line-height: 30px;
}

.subscribe-container p {
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
    margin: auto; 
}

.subscribe-container button {
    margin: auto;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(70, 70, 70);
    height: 42px; 
    width: 100px; 
    border: 1px solid rgb(70, 70, 70); 
}

.subscribe-container button:hover {
    cursor: pointer;
}

